<div class="my-2">
  <label for="">Categories :</label>
  <select class="form-control">
     <option value="1">1 option</option>
     <option value="2">2 option</option>
     <option value="3">3 option</option>
     <option value="4">4 option</option>
  </select>
</div>

<div class="row mt-4">
   <div class="col-md-3">
      <div class="itme">
        <img src="" alt="">
         <div class="body">
           <h4>Some Title</h4>
           <p>Tost Add Discription</p>
         </div>
           <div class="px-3 md-2  d-flex justfity-content-btween align-itmes-center">
            <button class="btn btn-success mx-2"> Add To  cart</button>
            <span>50 L.E</span>
           </div>
      </div>
   </div>
</div>
